* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-color: #0a192f;
}

.header {
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo-container {
  display: flex;
  align-items: left;
  flex-direction: column;
}

.logo {
  text-decoration: none;
  color: #b6c1e0;
  font-size: 36px;
  margin-right: 20px;
  font-weight: bold;
}

.github {
  font-size: 30px;
  color: #b6c1e0;
}

.github:hover {
  color: #58e1c4;
}

.linkedin {
  font-size: 30px;
  margin-left: 10px;
  color: #b6c1e0;
}

.linkedin:hover {
  color: #58e1c4;
}

.navbar a {
  position: relative;
  font-size: 16px;
  color: #b6c1e0;
  font-weight: bold;
  text-decoration: none;
  margin-left: 40px;
}

.navbar a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.navbar a:hover {
  color: #58e1c4;
}

.about {
  margin-top: 20px;
  padding-top: 280px;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 150px;
}

.about h2 {
  font-size: 62px;
  margin-bottom: 10px;
  color: #58e1c4;
  font-family: "Fira Code", monospace;
  font-style: normal;
  font-weight: 300;
}

.about h1 {
  font-size: 62px;
  margin-bottom: 10px;
  color: #b6c1e0;
}

.about p {
  font-size: 24px;
  line-height: 1.6;
  color: #8892b0;
  width: 85%;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
  padding-top: 100px;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 150px;
  text-align: center;
  flex-grow: 1;
}

.projects h2 {
  font-size: 56px;
  color: #58e1c4;
  padding-bottom: 40px;
  font-family: "Fira Code", monospace;
  font-style: normal;
  font-weight: 300;
}

.project-card h3 {
  font-size: 26px;
  font-weight: bold;
  padding-bottom: 10px;
  color: #b6c1e0;
}

.project-card p {
  font-size: 18px;
  line-height: 1.6;
  color: #8892b0;
  padding-bottom: 10px;
  width: 950px;
}

.project-card .img1 {
  width: 950px;
  height: 470px;
  border-radius: 10px;
}

.project-card .img2 {
  width: 690px;
  height: 485px;
  border-radius: 10px;
}

.project-card {
  padding-bottom: 175px;
}

.btn {
  margin-top: 10px;
  height: 70px;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.git-btn,
.demo-btn {
  font-size: 20px;
  color: #58e1c4;
  background: #0a192f;
  border: solid #58e1c4 3px;
  border-radius: 5px;
  line-height: 70px;
  width: 300px;
  text-decoration: none;
  font-family: "Fira Code", monospace;
  font-style: normal;
  font-weight: 300;
}

.git-btn:hover,
.demo-btn:hover {
  background: #58e1c4;
  color: #0a192f;
}

.bim-example {
  position: relative;
  width: 300px;
  margin: 0 auto;
  text-align: left;
  padding: 20px;
  border: solid #0a192f 1px;
  border-radius: 10px;
  margin-bottom: 15px;
  background: #1c4551;
}

.bim-example p {
  color: #7cc4b8;
  font-family: "Fira Code", monospace;
  font-style: normal;
  font-weight: 300;
  width: 270px;
}

.loading {
  display: inline-block;
  position: absolute;
  height: 40px;
  width: 40px;
  border: solid 6px;
  border-color: #7cc4b8 transparent #7cc4b8 transparent;
  border-radius: 50%;
  animation: spin 1.4s linear infinite;
  bottom: 10px;
  right: 10px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.edu-skills {
  display: flex;
  gap: 1rem;
  padding-top: 150px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 150px;
}

.edu-cont {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid #58e1c4 1px;
  border-radius: 15px;
  height: 600px;
  background: #0a1924;
}

.edu-cont h2 {
  font-size: 56px;
  color: #58e1c4;
  margin: 0 0 30px;
  padding-bottom: 20px;
  font-family: "Fira Code", monospace;
  font-style: normal;
  font-weight: 300;
  padding-top: 20px;
}

.edu-cont img {
  width: 400px;
  border-radius: 15px;
}

.edu-cont h3 {
  font-size: 22px;
  color: #b6c1e0;
  font-weight: bold;
  padding: 20px;
}

.edu-cont h4 {
  font-size: 20px;
  color: #8892b0;
}

.edu-cont h4 span {
  color: #b6c1e0;
}

.edu-cont ul {
  list-style-type: disc;
  padding: 20px;
  color: #58e1c4;
  font-size: 18px;
}

.edu-cont ul li span {
  color: #8892b0;
}

.skills-cont {
  width: 50%;
  height: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: solid #58e1c4 1px;
  border-radius: 15px;
  background: #0a1924;
}

.skills-cont h2 {
  font-size: 56px;
  color: #58e1c4;
  margin: 0 0 30px;
  font-family: "Fira Code", monospace;
  font-style: normal;
  font-weight: 300;
  padding-top: 20px;
  padding-bottom: 20px;
}

.skill-icons {
  width: 380px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}

.skill-icons img {
  height: 100px;
  width: 100px;
  margin: 10px;
}

.border {
  border: solid #58e1c4 1px;
  border-radius: 10px;
}

.border:hover {
  border-color: #0a192f;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-self: center;
  padding-top: 150px;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 150px;
}

.contact h2 {
  font-size: 56px;
  color: #58e1c4;
  font-family: "Fira Code", monospace;
  font-style: normal;
  font-weight: 300;
}

.contact p {
  font-size: 24px;
  color: #8892b0;
  width: 60%;
  padding: 20px;
}

.footer {
  padding-top: 150px;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.one-liner {
  color: #8892b0;
  font-size: 24px;
  padding-bottom: 10px;
}

.copyright {
  font-size: 16px;
  color: #8892b0;
  padding-top: 20px;
  font-family: "Fira Code", monospace;
  font-style: normal;
  font-weight: 300;
}

.hamburger {
  position: relative;
  display: block;
  width: 35px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  outline: none;
  border: none;
  z-index: 100;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: #b6c1e0;
  margin: 6px 0px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.hamburger.is-active:before {
  -webkit-transform: rotate(-45deg) translate(-8px, 6px);
  transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
  -webkit-transform: rotate(45deg) translate(-9px, -8px);
  transform: rotate(45deg) translate(-9px, -8px);
  position: relative;
}

.hamburger.is-active .bar {
  opacity: 0;
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  display: block;
  z-index: 98;
  background-color: #0a192f;
  padding-top: 120px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.mobile-nav.is-active {
  left: 0;
}

.mobile-nav a {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto 16px;
  text-align: center;
  padding: 12px 16px;
  background-color: #0a192f;
  color: #b6c1e0;
  text-decoration: none;
  font-size: 48px;
}

.mobile-nav a:hover {
  color: #58e1c4;
}

.to-top {
  background: #0a192f;
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: #b6c1e0;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
  border: solid #b6c1e0 2px;
}

.to-top.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
}

@media (min-width: 1200px) {
  .mobile-nav {
    display: none;
  }

  .hamburger {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .navbar {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .project-card {
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
  }

  .projects h2 {
    font-size: 44px;
  }

  .edu-cont img {
    width: 80%;
    transform: scale(0.8);
    transform-origin: center;
    display: block;
    margin: 0 auto;
  }

  .contact h2 {
    font-size: 44px;
  }

  .project-card .img1,
  .project-card .img3,
  .project-card .img2 {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .project-card p {
    max-width: 100%;
    width: auto;
  }

  .about h2,
  .about h1 {
    font-size: 44px;
  }

  .about p {
    font-size: 20px;
  }

  .about {
    margin-top: 100px;
    padding-top: 200px;
    padding-left: 200px;
    padding-right: 100px;
  }

  .edu-skills .edu-cont,
  .edu-skills .skills-cont {
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
  }

  .edu-skills {
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
  }

  .contact {
    padding-left: 100px;
    padding-right: 100px;
  }

  .projects {
    padding-left: 100px;
    padding-right: 100px;
  }

  .edu-cont h2 {
    font-size: 44px;
  }

  .skills-cont h2 {
    font-size: 44px;
  }
}

@media screen and (max-width: 890px) {
  .about {
    padding-left: 50px;
    padding-right: 50px;
  }

  .about p {
    width: 100%;
  }

  .footer {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media screen and (max-width: 700px) {
  .projects {
    padding-left: 0px;
    padding-right: 0px;
  }

  .header {
    padding-left: 50px;
    padding-right: 50px;
  }

  .contact {
    padding-left: 0px;
    padding-right: 0px;
  }

  .contact p {
    font-size: 20px;
  }
}

@media screen and (max-width: 600px) {
  .skill-icons {
    gap: 0rem;
    width: calc(80px * 4 + 3 * 0.5rem);
  }

  .skill-icons img {
    margin: 5px;
  }

  .edu-cont h3,
  .edu-cont h4 {
    text-align: center;
  }

  .edu-cont ul {
    padding-left: 0px;
    padding-right: 0px;
  }

  .edu-skills {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media screen and (max-width: 550px) {
  .footer .one-liner {
    font-size: 20px;
    text-align: center;
  }

  .footer .copyright {
    font-size: 12px;
  }

  .logo {
    font-size: 28px;
  }

  .github {
    font-size: 24px;
  }

  .linkedin {
    font-size: 24px;
  }

  .about {
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .projects {
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 0px;
  }

  .edu-skills {
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 50px;
  }

  .contact {
    padding-top: 100px;
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 450px) {
  .about h2,
  .about h1 {
    font-size: 36px;
  }

  .about p {
    font-size: 16px;
  }

  .skill-icons img {
    height: 90px;
    width: 90px;
  }

  .skills-cont {
    height: 500px;
  }
}

@media screen and (max-width: 392px) {
  .skill-icons img {
    height: 80px;
    width: 80px;
  }
}
